@import url('https://fonts.googleapis.com/css?family=Orbitron');

#suggestedSong, #raundResult, #gameResult {
	display: none;
}

body {	
	font-family: Orbitron !important;
	font-size: 16px !important;
	letter-spacing: 3px;
	height: 100vh;
	width: 100vw;	
}

h1 {
	text-align: center;
	width: 100%;
}

#cover {
    background: #222 url('../static/background.jpg') 100% 100% no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

.white-background:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.315);
    z-index: -1;
    border-radius: 10px;
}

.white-background {
	color: black;
	padding: 30px 30px 5px 30px;
}

audio:hover, audio:focus, audio:active {
	-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
}

audio {
	width: 100%;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	transition:all 0.5s linear;
}

@media screen and (min-width: 768px){
	audio {
		width: 70%;
	}
}

#score {
	font-size: 8pt;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;
}

#score p {
	margin-bottom: 0px;
	background-color: rgba(255, 129, 223, 0.533);
	border-radius: 10px;
	padding: 5px 15px 5px 15px;
	margin: 2px;
}

#inputTextSong {
	margin-bottom: 30px;
}