@import url('https://fonts.googleapis.com/css?family=Orbitron');


.suggestedSong, .form4 {
	display: none;
}

body {	
	font-family: Orbitron !important;
	font-size: 16px !important;
	letter-spacing: 3px;
	height: 100vh;
	width: 100vw;
}

#cover {
    background: #222 url('../static/background.jpg') 100% 100% no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

/* only used for background overlay not needed for centering */
.inputTextSong:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.315);
    z-index: -1;
    border-radius: 10px;
}